.spinner {
  animation: rotate 2s linear infinite;
  /* Add width/height defaults if desired */
  /* width: 2em; */
  /* height: 2em; */
}

.spinner-path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 120, 150; /* Adjusted slightly from 1, 150 to make it visible at 100% */
    stroke-dashoffset: -124;
  }
}